.forgetpassword-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: #fdfbf5;
  padding: 1rem;
}

.forgetpassword-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.forgetpassword-input {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.forgetpassword-btn {
  width: 100%;
  padding: 0.8rem;
  background: #166534;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.forgetpassword-btn:disabled {
  background: #a5d6a7;
  cursor: not-allowed;
}

.forgetpassword-loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #166534;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.forgetpassword-otp-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.forgetpassword-otpbox {
  width: 45px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.forgetpassword-toggle-btn {
  margin-left: 5px;
  cursor: pointer;
  background: none;
  border: none;
  color: #166534;
  font-weight: bold;
}

.forgetpassword-back {
  display: block;
  margin-top: 1rem;
  color: #166534;
  cursor: pointer;
  font-weight: bold;
}

.forgetpassword-resend1,
.forgetpassword-resend2 {
  background: none;
  font-size: 1.1rem;
  border: none;
  color: #166534;
  font-weight: bold;
  margin-top: 0.5rem;
}

.forgetpassword-resend1 {
  opacity: 0.5;
  cursor: not-allowed;
}

.forgetpassword-resend2 {
  cursor: pointer;
}

.forgetpassword-validation {
  text-align: left;
  margin-top: 0.1rem;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.forgetpassword-validation p {
  margin: 0.2rem 0;
}

.forgetpassword-validation-message{
  margin-top: 0.1rem;
}
/* Responsive */
@media (max-width: 500px) {
  .forgetpassword-card {
    padding: 1.5rem;
  }
  .forgetpassword-otpbox {
    width: 35px;
    height: 40px;
    font-size: 1.2rem;
  }
}
