.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: #fdfbf5;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input {
  width: 90%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn {
  width: 95%;
  padding: 0.8rem;
  background: #166534;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:disabled {
  background: #a5d6a7;
  cursor: not-allowed;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #166534;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.otp-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.otp-box {
  width: 40px;
  height: 45px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.toggle-btn {
  margin-left: 5px;
  cursor: pointer;
  background: none;
  border: none;
  color: #166534;
  font-weight: bold;
}

.back {
  display: block;
  margin-top: 1rem;
  color: #166534;
  cursor: pointer;
  font-weight: bold;
}

.resend-otpbox1, .resend-otpbox2{
  background: none;
  font-size: 1.2rem;
  border: none;
  color: #166534;
  font-weight: bold;
}
.resend-otpbox1{
  opacity: 0.5;
}
.resend-otpbox2{
  cursor: pointer;
}